<footer class="site-footer">
  <div class="shell footer-inner">
    <p>Written and maintained by {{ site.author }}.</p>
    <a href="/{{ language | default('en') }}/feed.xml">RSS</a>
  </div>
</footer>
